html, body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

html {
    display: table;
    margin: auto;
}

body {
  background-color: gray;
    display: table-cell;
    vertical-align: middle;
}
h1 {
  text-align: center;
  font-size: 80px;
}

input, button {
  display: inline-block;
  background-color:white;
  border: 5px solid rgb(74, 70, 70);
  border-radius: 8px;
  color: rgb(74, 70, 70);
  padding: 10px 32px;
  text-align: center;
  font-size: 30px;
  margin: 2px 2px;
}
